@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600&display=swap');

body {
  font-family: 'Spartan', sans-serif;
  background-color: lightyellow;
  margin: 0;
  height: 100vh;
  overflow-x: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.rowUpgrade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}


.title {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #62B5BC;
  width: 100%;
  cursor: pointer;
  padding: 6px;
}

.buttonAdd {
  background-color: rgb(233, 181, 161);
  width: 1.5rem;
}

.buttonRemove {
  background-color: rgb(233, 181, 161);
  width: 1.5rem;
}

.buttonBadge {
  background-color: red;
  border: none;
  color: white;
  width: 1.5rem;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.productItem {
  width: 25%;
  border-radius: 10px;
  border: 1px solid #62B5BC;
  margin: 5px;
  padding: 1%;
  background-color: #E5E4E1;
  color: #36362C;
  display: flex;
  gap:5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  align-items: center;
  background-color: rgb(233, 181, 161);
}

.signUpButton{
  background-color: #62B5BC;
}

#pass {
-webkit-text-security: disc;
}
